body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f4f5ff;
}

.container {
	 background: #f4f5ff;
}

.navbar {
  margin-bottom: 20px;
  background: #f4f5ff;
  border-radius: 0px;
}
 
 .navbar-default {
 	border:none;
 	border-bottom: 1px solid black;
 }

 img {
 	max-width: 100%;
 }

 .col-sm-3 {
 	background: #f5f5f5;
 	border: 1px solid #ddd;
 	margin: 20px 0;
 	box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

.col-xs-offset-3 {
	margin-right: 25%;
}

.author {
	margin-left: 5px;
}

.tabletop {
  margin-left: 0px;
  margin-right: 0px;
}

.tabletop .col-sm-3 {
  padding: 10px 0;
}

 .top-table {
 	font-style: italic;
 	font-weight: bold;
 }

.bottom__second-block {
  float: left;
  margin-right: 10px;
}

.bottom-second-w {
  text-align: center;
  margin-top: -10%;
}

 .bottom-second-a {
  text-align: center;
  margin-top: -3%;
}

.bottom__second-img {
  display: block;
}

.bottom-img {
  margin: 0 15px;
}

 .footer {
  background: #e2e4f7;
  margin-top: 5%;
}

.footer__title {
  text-align: center;
  padding: 20px 0;
}

.footer__item {
  width: ;
  margin: 0 auto;
}

 .pic1 , .pic2 , .pic3 , .pic4 {
  display:;
  max-width: 100%;
}

.pic {
	height: 160px;
	overflow: hidden;
}

.underimage {
  background: #f4f5ff;
    
}
.underimage__content {
  border-bottom: 1px solid #999;
  padding-top: 10px;
  text-align: center;
}

.underimage__title {
  margin: 10px auto;
  font-size: 9px;
  opacity: 0.7;
}

.underimage__main {
  text-align: center;
}

.underimage__social {
  padding: 15px;
  opacity: 0.7;
}

.underimage-likes {
	float: right;
}

.underimage-views {
	display: inline-block;
}

.effects {
  position: relative;
}

.effects img {
  width: 100%;
  height: 100%;
}

.eff-1-3 {
  width: ;
  height: ;
  overflow: hidden;
}

.eff-1-3 .captions {
  position: absolute;
  top: -100%;
  left: 0px;
  background: rgba(0,0,0,0.35);
  width: 100%;
  height: 100%;
  color: #fff;
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  z-index: 10;
}

.eff-1-3 .overlays {
  position: absolute;
  top: 100%;
  left: 0px;
  background: rgba(0,0,0,0.35);
  width: 100%;
  height: 100%;
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  z-index: 5;
}

.eff-1-3 .captions h4 {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-top: 20px;
}

.eff-1-3 .captions p {
  margin: 15px 0px;
  text-align: center;
  font-style: italic;
  padding: 0px 10px;
}

.eff-1-3 .captions a.btns {
  width: 120px;
  text-align: center;
  display: block;
  background: #4A4A4A;
  color: #fff;
  padding: 10px 0px;
  border-radius: 5px;
  margin: 0px auto 0px auto;
}

.eff-1-3:hover .captions,
.eff-1-3:hover .overlays {
  top: 0px;
}                  

.preloader {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: black;
  z-index:2;
  transition:1s all;
  opacity:1;
  visibility:visible;
}

 .loader {
    width:75px;
    height:75px;
    border:15px solid white;
    border-radius:50%;
    border-top-color:blue;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    animation: 1.5s spin infinite linear;
  }

.done {
  visibility:hidden;
  opacity:0;  
}

.loader__text {
  color: white;
  font-size: 40px;
  position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
}

@keyframes spin {
  from {
     transform:translate(-50%,-50%) rotate(0deg) ;
  }
  to {
    transform:translate(-50%,-50%) rotate(360deg) ;
  }
}